<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="identityExtension" type="Semio.ClinWeb.EntityClient.Behaviors.IdentityBehaviorExtensionElement, Semio.ClinWeb.EntityClient" />
        <add name="webHttpJson" type="Semio.ClientService.Behaviors.NewtonsoftJsonBehaviorExtension, Semio.ClientService" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="poxBehavior">
          <webHttp />
        </behavior>
        <behavior name="jsonBehavior">
          <webHttpJson />
        </behavior>
        <behavior name="IdentityEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="13107200" maxReceivedMessageSize="13107200" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="7000000" maxStringContentLength="7000000" maxArrayLength="7000000" maxBytesPerRead="7000000" maxNameTableCharCount="7000000" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="SecureService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" useDefaultWebProxy="true" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding" receiveTimeout="00:20:00" sendTimeout="00:20:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="webBindingJson" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="00:20:00" contentTypeMapper="Semio.ClientService.Behaviors.NewtonsoftJsonContentTypeMapper, Semio.ClientService">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ReplacedFromTransform.quintiles.net" behaviorConfiguration="jsonBehavior" binding="webHttpBinding" bindingConfiguration="webBindingJson" contract="Semio.ClientService.Provide.IFeedService" name="Semio.Provide">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>