<?xml version="1.0" encoding="utf-8" ?>
<!--:::::::::::[ App.TEST.Config ]:::::::::-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="Semio.Provide" address="https://infosario-design-test01.quintiles.com:8001/Service.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
        <identity xdt:Transform="Insert">
          <servicePrincipalName value="HTTP/infosario-design-test.quintiles.com"/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding" xdt:Locator="Match(name)">
          <security mode="Transport" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="webBindingJson" xdt:Locator="Match(name)">
          <security mode="Transport" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicBinding" xdt:Locator="Match(name)">
          <security mode="Transport" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
