<?xml version="1.0" encoding="utf-8" ?>
<!--:::::::::::[ App.DEV.Config ]:::::::::-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint name="Semio.Provide" address="http://usndywl10062:8001/Service.svc" xdt:Transform="SetAttributes" xdt:Locator="Match(name)">
      </endpoint>
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding" xdt:Locator="Match(name)">
          <security mode="TransportCredentialOnly" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="webBindingJson" xdt:Locator="Match(name)">
          <security mode="TransportCredentialOnly" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicBinding" xdt:Locator="Match(name)">
          <security mode="TransportCredentialOnly" xdt:Transform="Replace">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
